@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Indian Cuisine</h1>
    <p class="lead">Welcome to our resturent</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Menu</h2>
        <p>
            <a href="@Url.Action("#")">
                <img alt="Image" src="~/Asset/Menu.png" />
            </a>
        </p>
        <p>
            <b>Fine Indian Cuisine</b>
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>
            <a href="@Url.Action("Contact")">
                <img alt="Contact" src="~/Asset/Contact_us.png" />
            </a>
        </p>
        <p>
            <b>To get Some information.</b>
        </p>
        <p><a class="btn btn-default" href="http://localhost:8233/Home/Contact.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About us</h2>

        <p>
            <a href="@Url.Action("About")">
                <img alt="Image" src="~/Asset/about-us.gif" />
            </a>
        </p>
        <p>
            <b>We are serving Since 1998</b>
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About")">Learn more &raquo;</a></p>
    </div>
</div>
