@model IEnumerable<Comp229_Assignment2.Models.Snack>
@{
    ViewBag.Title = "Admin Snack";
}
<h2>Admin Snack</h2>
<p>
    @Html.ActionLink("Create New Snack", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SnacksName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SnacksShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SnacksPrice)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SnacksName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SnacksShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SnacksPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SnacksId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SnacksId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SnacksId })
            </td>
        </tr>
    }
</table>
