@model IEnumerable<Comp229_Assignment2.Models.Vegfood>
@{
    ViewBag.Title = "Admin Vegfood";
}
<h2>Admin Vegfood</h2>
<p>
    @Html.ActionLink("Create New Vegfood", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VegfoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VegfoodShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VegfoodPrice)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VegfoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VegfoodShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VegfoodPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VegfoodId }) |
                @Html.ActionLink("Details", "Details", new { id = item.VegfoodId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VegfoodId })
            </td>
        </tr>
    }
</table>
